.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-container {
  overflow-y: auto;
  padding: 1rem 2rem;
}

.chat-container::-webkit-scrollbar {
  width: 0.5rem;
}

.chat-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(184, 184, 184);
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}
.chat-input {
  position: relative;
  width: 100%;
  background: rgb(221, 220, 220);
  padding: 0 1rem;
}

.chat-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4rem;
}

.chat-textbox {
  width: 90%;
  font-family: sans-serif;
  resize: none;
  padding: 0.5rem 1rem;
  margin: 0.8rem 1rem;
  border-radius: 5px;
  outline: none;
  overflow: auto;
  border: none;
}

.chat-textbox::-webkit-scrollbar {
  margin-right: 1rem;
  padding: 1rem;
  width: 0.5rem;
}

.chat-textbox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(184, 184, 184);
}

.chat-textbox::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

.chat-file-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  width: 90%;
}

.chat-file-box p {
  padding: 0 1rem;
}

.chat-send-button {
  background: none;
  border: none;
  padding: 0;
}

.char-send-button:hover {
  background: lightblue;
}

.chat-icon {
  color: #2196f3;
  height: 4rem;
  margin: 0 0.5rem;
}

.chat-icon:hover {
  cursor: pointer;
}
