.message-container.user {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.message-bubble {
  display: inline-block;
  background: lightblue;
  margin: 0.5rem 0 0;
  max-width: 60%;
  border-radius: 1rem;
  word-wrap: break-word;
  padding: 0.5rem 0;
}

.message-bubble.user {
  background: pink;
}

.message-bubble.prev {
  margin: 0.3rem 0 0;
}

.message-content {
  display: flex;
}

.message-content > p {
  align-self: flex-end;
}

.message-name {
  color: rgb(61, 61, 61);
  margin: 0 1rem;
}

.message-time {
  color: rgb(61, 61, 61);
  margin: 0 0.5rem;
}

.message-text {
  margin: 0rem 1rem;
  white-space: pre-wrap;
}

.message-file-container {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.message-filename {
  margin: 0rem 0.5rem;
}

.message-filesize {
  margin: 0 0.5rem;
  color: grey;
}

.message-icon {
  color: #2196f3;
}

.message-icon.download:hover {
  cursor: pointer;
  background: white;
  border-radius: 1rem;
  padding: 2px;
}

.message-file-download-info {
  margin: 0rem 1rem 0.5rem;
  display: flex;
  align-items: center;
}

.message-file-download-info > .progress-bar {
  width: 10rem;
  background: white;
  height: 5px;
  margin-right: 1rem;
}

.message-file-download-info > .progress-bar > span {
  display: block;
  background: blue;
  height: 5px;
  z-index: 2;
}
