service: Webchat-api

custom:
  userTable: WebchatUserTable-${self:provider.stage}
  messageTable: WebchatMessageTable-${self:provider.stage}
  roomIndex: RoomIdIndex

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: ap-southeast-1
  environment:
    USER_TABLE: ${self:custom.userTable}
    MESSAGE_TABLE: ${self:custom.messageTable}
    ROOM_INDEX: ${self:custom.roomIndex}
  websocketsApiName: Webchat-api
  websocketsApiRouteSelectionExpression: $request.body.action
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "dynamodb:GetItem"
        - "dynamodb:DeleteItem"
        - "dynamodb:PutItem"
        - "dynamodb:UpdateItem"
        - "dynamodb:Query"
      Resource:
        - !GetAtt userTable.Arn
        - !GetAtt messageTable.Arn
        - !Join
          - "/"
          - - !GetAtt userTable.Arn
            - "index/RoomIdIndex"

package:
  individually: true

plugins:
  - serverless-bundle
  - serverless-offline

functions:
  connectHandler:
    handler: handler.connectHandler
    events:
      - websocket: $connect

  disconnectHandler:
    handler: handler.disconnectHandler
    events:
      - websocket: $disconnect

  defaultHandler:
    handler: handler.defaultHandler
    events:
      - websocket: $default

  historyHandler:
    handler: handler.historyHandler
    events:
      - websocket:
          route: history

  messageHandler:
    handler: handler.messageHandler
    events:
      - websocket:
          route: message

resources:
  - ${file(resources/dynamodb.yml)}
